osu!.tmproj
*.pfx
*.user
*DS_Store*
*/bin/*
*/obj/*
*ReSharper*
*resharper*
*.suo
*.tmproj
osu!installer/output/*
osu!-iPhone/Osu.xcodeproj/*
osu!-iPhone/build/*
osu!-iPhone/skins/*
osu!common/Properties/Strings.*.txt
osu!/Properties/Strings.*.txt

*.docstates

Staging/
*.sublime-project
*.sublime-workspace

External/www/wiki/*
